@import "tailwindcss";

@theme {
  --color-german-red: #da291c;
  --color-german-gold: #ffce00;
  --color-german-black: #000000;
  --color-uni-blue: #003399;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #1a1a1a;
  @apply bg-slate-50 text-slate-900;
}